myretail-elastic-api/.settings/org.eclipse.wst.common.project.facet.core.xml
myretail-elastic-api/.settings/org.eclipse.jdt.core.prefs
myretail-elastic-api/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
myretail-elastic-api/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
myretail-elastic-api/.project
myretail-elastic-api/.gitignore
myretail-elastic-api/.classpath
